<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>http://localhost:8000/api/v1</string>
	<key>SUPABASE_URL</key>
	<string>https://xxxxx.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>your_anon_key_here</string>
	<key>LOG_LEVEL</key>
	<string>info</string>
</dict>
</plist>
